<!DOCTYPE html>
<html>
<head>
<style>
h1 {  
    font-family: Georgia;  
  display: block;  
  font-size: 2rem;  
  font-weight: 900;  
  text-align: center;  
  letter-spacing: 1px;  
  color: #F2CC33;  
    text-transform: uppercase;  
}  
form {  
    margin: 25px auto;  
    padding: 20px;  
    border: 5px solid #ccc;  
    width: 500px;  
    background: #A2FEDA;  
}  
body {  
    margin: 50px auto;  
    text-align: center;  
    width: 800px;  
    color: #FF992C;
    font-family: Courier New;
}  
</style>
</head>
<body>
<div align="center">
<h1>REGISTRATION FORM</h1>
<form action="result" method="post">
<b>Enter ID:</b>
<input type ="text" placeholder="Enter User ID:" name="userid"><br><br>
<b>Enter Name:</b>
<input type="text" placeholder="Enter name:" name="username"><br><br>
<b>Enter address:</b>
<input type="text" placeholder="Enter Address:" name="address"><br><br>
<b>Enter Gender:</b>
Male:
<input type="radio" name="gender" value="male">Female:
<input type="radio" name="gender" value="female"><br><br>
<b>Select Language:</b>
<input type="checkbox" name="hindi" value="hindi">HINDI
<input type="checkbox" name="english" value="english">ENGLISH
<input type="checkbox" name="urdu" value="urdu">URDU<br><br>
<b>Select Course:</b>
<select name="select">
<option value="BA">BA<option>
<option value="BSc">B.Sc<option>
<option value="B.COM">B.COM<option>
</select><br><br>
<input type="submit" value="SUBMIT"><br>
</form>
</div>
</body>
</html>
</body>
</html>
